---
import { Image } from '@astrojs/image/components';
import { CheckIcon } from '@heroicons/react/20/solid';
import pic3 from '../img/pic3.jpeg';

const aboutData = {
  heading: "The dispatch revolution",
  subheading: "Why Choose Us",
  description: "Our professional dispatch firm is your gateway to running independently while enjoying unparalleled support and an extensive range of freight options.",
  benefits: [
    {
      title: "Efficiency at its Finest:",
      description: "We relieve you from the burden of load hunting and paperwork, allowing you to concentrate solely on driving."
    },
    {
      title: "Seamless Paperwork:",
      description: "No more faxing or paperwork troubles. We take care of it all, ensuring everything is completed and emailed to you."
    },
    {
      title: "Endless Opportunities:",
      description: "Work with your current contacts or let us introduce you to new customers and brokers, expanding your reach."
    },
    {
      title: "Profitable Routes:",
      description: "Whether it's OTR or regional, we secure the best available options for you."
    },
    {
      title: "Flexibility Redefined:",
      description: "Embrace different payment options that fit your needs, utilizing our services as much or as little as desired."
    },
    {
      title: "Personalized Attention:",
      description: "We limit dispatching to a maximum of 5 trucks per dispatcher, ensuring you receive focused and personalized support."
    }
  ]
};
---

<div id="about" class="min-h-screen flex flex-col xl:flex-row my-12">
  <section class="xl:w-1/2 flex">
    <div class="m-auto px-12">
      <Image src={pic3} alt="White Tesla semi-truck parked at a modern loading dock at night" class="rounded-lg" />
    </div>
  </section>
  <section class="xl:w-1/2 flex flex-col">
    <div class="m-auto p-12">
      <div class="lg:pr-8 lg:pt-4">
				<div class="lg:max-w-lg">
          <h2 class="text-lg font-semibold leading-7">
            {aboutData.heading}
          </h2>
          <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">
            {aboutData.subheading}
          </p>
          <p class="mt-6 max-w-xl text-xl leading-8 font-semibold">
            {aboutData.description}
          </p>
          <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 lg:max-w-none">
            {aboutData.benefits.map((benefit) => (
              <div class="relative pl-9">
                <dt class="inline font-medium text-lg">
									<span class="absolute left-1 top-1 h-5 w-5"><CheckIcon /></span>
                  {benefit.title}
                </dt>
                <dd class="inline font-normal">
                  {benefit.description}
                </dd>
              </div>
            ))}
          </dl>
        </div>
      </div>
    </div>
  </section>
</div>
