---
import { Image } from '@astrojs/image/components';
import { CheckIcon } from '@heroicons/react/20/solid';
import pic2 from '../img/pic2.jpeg';

const servicesData = {
  heading: "Your logistics partner",
  subheading: "What We Offer",
  description: "Our dispatch services are designed to empower you, allowing you to focus solely on the road ahead.",
  features: [
    {
      title: "Effortless Load Management:",
      description: "We handle the tedious task of finding, coordinating, and tracking loads for you."
    },
    {
      title: "Tailored Trip Planning:",
      description: "Our custom trip planning ensures every journey is optimized for efficiency, safety, and revenue."
    },
    {
      title: "Financial Ease:",
      description: "Credit checks, factoring assistance, and top-rate negotiation – we handle the financial aspects, so you can drive with peace of mind."
    },
    {
      title: "Maximum Revenue:",
      description: "With our industry experience, we specialize in securing the highest paying loads."
    },
    {
      title: "Streamlined Operations:",
      description: "From invoicing to paperwork, we take care of it all. Focus on driving, while we manage the logistics."
    },
    {
      title: "Freedom to Choose:",
      description: "We prioritize your preferences and no forced dispatching means you're in control of your trucking journey."
    },
    {
      title: "Safety and Growth:",
      description: "Elevate safety standards, enhance operational efficiency, and accelerate your revenue growth with our dedicated support."
    }
  ]
};
---

<div id="services" class="min-h-screen flex flex-col xl:flex-row my-12">
  <section class="xl:w-1/2 flex flex-col">
    <div class="m-auto p-12">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-lg font-semibold leading-7">
            {servicesData.heading}
          </h2>
          <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">
            {servicesData.subheading}
          </p>
          <p class="mt-6 max-w-xl text-xl leading-8 font-semibold">
            {servicesData.description}
          </p>
          <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 lg:max-w-none">
            {servicesData.features.map((feature) => (
              <div class="relative pl-9">
                <dt class="inline font-medium text-lg">
									<span class="absolute left-1 top-1 h-5 w-5"><CheckIcon /></span>
                  {feature.title}
                </dt>
                <dd class="inline font-normal">
                  {feature.description}
                </dd>
              </div>
            ))}
          </dl>
        </div>
      </div>
    </div>
  </section>
  <section class="xl:w-1/2 flex">
    <div class="m-auto px-12">
      <Image src={pic2} alt="Front view of a white Tesla semi-truck driving on a highway at dusk" class="rounded-lg" />
    </div>
  </section>
</div>
